@use "../base/functions" as func;
@use "../base/extensions";
@use "../base/variables" as var;

* {
	font-family: var.$poppins;
	// outline: 1px solid rgba(255, 0, 0, 0.514);
	color: var.$white;
}
body .main .hero * {
	list-style: none;
}
body .main .soluciones *,
body .main .empresas * {
	color: var.$black;
	font-family: var.$poppins;
}
body {
	.main {
		.hero {
			min-height: 100vh;
			background-image: url("../images/exevi-tu-sherpa-digital.webp");
			@extend %section;
			&__h1 {
				font-size: clamp(45px, 9vw, 80px);
				font-weight: 700;
				text-transform: capitalize;
				margin: 0 20px;
				text-align: center;
				margin-bottom: 25px;
			}
			&__h2 {
				text-transform: uppercase;
				background-color: #fff;
				color: var.$black;
				font-size: clamp(16px, 4vw, 22px);
				text-align: center;
				padding: 6px 30px;
				margin: 0 5px;
				letter-spacing: 2.5px;
			}
		}
		.soluciones {
			padding: 90px clamp(11px, 5.5vw, 110px);
			@extend %align-center;
			flex-direction: column;
			&__h2 {
				@extend %section-title;
				margin-bottom: 30px;
				text-transform: capitalize;
			}
			&__h3 {
				text-align: center;
				font-size: clamp(16px, 2.5vw, 20px);
				margin-bottom: 45px;
			}
			&__cards {
				display: grid;
				grid-template-columns: repeat(4, minmax(260px, 350px));
				grid-template-rows: minmax(200px, 500px);
				gap: 15px;
				.card__1,
				.card__2,
				.card__3,
				.card__4 {
					border-radius: 10px;
					background-color: rgb(250, 250, 250);
					transition: 300ms ease box-shadow;
					&:hover {
						box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
					}
					.card__img {
						border-top-left-radius: 10px;
						border-top-right-radius: 10px;
						overflow: hidden;
						height: 40%;

						.card__img--img {
							max-width: 100%;
							width: 100%;
							-o-object-fit: cover;
							object-fit: cover;
							-o-object-position: center center;
							object-position: center center;
							height: 100%;
							transition: 300ms ease transform;
							&:hover {
								transform: scale(1.2);
							}
						}
					}
					.card__content {
						padding: 15px;
						min-height: 60%;
						display: flex;
						align-items: flex-start;
						justify-content: flex-start;
						flex-direction: column;
						.card__title {
							margin-bottom: 20px;
							font-size: 16px;
							font-weight: 600;
							display: block;
							line-height: 24px;
							color: rgba(0, 0, 0, 0.815);
							&:hover {
								text-decoration: underline;
							}
						}
						.card__p {
							margin-bottom: 20px;
							font-size: 13px;
							line-height: 20px;
							opacity: 0.6;
						}
						.card__button {
							margin-top: auto;
							border-radius: 40px;
							display: inline-block;
							padding: 12px 30px;
							font-weight: 500;
							border: 2px solid #08080828;
							background-color: var.$white;
							transition: 200ms ease all;
							color: var.$black;
							margin-bottom: 10px;
							letter-spacing: 1px;
							text-transform: uppercase;
							&:hover {
								background-color: var.$black;
								color: var.$white;
							}
						}
					}
				}
			}
		}
		.mejora {
			background-image: url("../images/mejora-la-eficiencia-de-tus-procesos-de-atencion-y-soporte-otrs.webp");
			@extend %section;
			&__h2 {
				@extend %section-title;
				margin-bottom: 40px;
				max-width: 1200px;
			}
			&__h3 {
				font-size: 24px;
				margin-bottom: 60px;
				text-align: center;
			}
			&__buttons {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				.mejora__buttons--button {
					@extend %button;
				}
			}
		}
		.canal {
			@extend %section;
			background-image: url("../images/whatsapp-empresas-portada.jpg");
			display: flex;
			align-items: flex-end;
			background-position: left;

			&__content {
				max-width: 50%;
				&--span {
					font-size: 20px;
					display: block;
					margin-bottom: 25px;
				}
				&--h2 {
					@extend %section-title;
					text-align: left;
					margin-bottom: 25px;
				}
				&--button {
					@extend %button;
				}
			}
		}
		.evoluciona {
			@extend %section;
			background-image: url("../images/da-el-salto-de-excel-a-power-bi-cabecera.webp");
			&__h2 {
				@extend %section-title;
				margin-bottom: 30px;
			}
			&__h3 {
				font-size: 24px;
				text-align: center;
				margin-bottom: 30px;
			}
			&__button {
				@extend %button;
			}
		}
		.automatiza {
			@extend %section;
			background-image: url("../images/automatiza-la-administracion-de-it-cloud-y-aplicaciones-ansible.webp");
			display: flex;
			align-items: flex-end;
			background-position: left;
			&__content {
				max-width: 50%;
				&--span {
					font-size: 20px;
					display: block;
					margin-bottom: 25px;
				}
				&--h2 {
					@extend %section-title;
					text-align: left;
					margin-bottom: 25px;
				}
				&--button {
					@extend %button;
				}
			}
		}
		.comunicacion {
			@extend %section;
			background-image: url("../images/app-y-plataforma-de-comunicacion-movil-portada.jpg");
			&__h2 {
				@extend %section-title;
				margin-bottom: 30px;
				max-width: 900px;
				// font-size: clamp(34px, 5.5vw, 60px);
			}
			&__button {
				@extend %button;
			}
		}
		.telefonia {
			@extend %section;
			background-image: url("../images/telefonia-y-centralita-integradas-con-microsoft-teams-portada2.webp");
			display: flex;
			align-items: flex-end;
			background-position: left;
			&__content {
				max-width: 50%;
				&--span {
					font-size: 20px;
					display: block;
					margin-bottom: 25px;
				}
				&--h2 {
					@extend %section-title;
					text-align: left;
					margin-bottom: 25px;
				}
				&--button {
					@extend %button;
				}
			}
		}
		.cultura {
			@extend %section;
			background-image: url("../images/cultura-home.jpg");
			align-items: flex-start;
			background-position: right;
			&__h2 {
				@extend %section-title;
				margin-bottom: 30px;
				text-align: left;
			}
			&__h3 {
				font-size: 24px;
				text-align: left;
				margin-bottom: 30px;
			}
			hr {
				height: 2px;
				background-color: #fff;
				width: 50px;
				margin-bottom: 30px;
			}
			&__dates {
				margin-bottom: 30px;
				display: flex;
				flex-wrap: wrap;

				.cultura__date {
					max-width: 320px;
					display: flex;
					margin: 10px;
					justify-content: center;
					// align-items: center;
					&__day {
						border: 1px solid rgba(255, 255, 255, 0.171);
						padding: 8px 5px;
						margin-right: 15px;
						p {
							display: block;
							text-transform: uppercase;
							text-align: center;
							font-weight: 600;
						}
						&--day {
							font-size: 44px;
							margin-bottom: 5px;
						}
						&--month {
							-webkit-filter: opacity(0.4);
							filter: opacity(0.4);
						}
					}
					&__content {
						display: flex;
						// background-color: red;
						flex-direction: column;
						// justify-content: center;
						// align-items: center;
						&__title {
							display: block;
							// margin-bottom: 8px;
						}
						&__span {
							display: flex;
							align-items: center;
							justify-content: flex-start;
							font-size: 15px;
							margin-top: auto;
							// margin-bottom: 10px;
							-webkit-filter: opacity(0.6);
							filter: opacity(0.6);
							&--img {
								max-width: 100%;
								width: 20px;
								margin-right: 5px;
								margin-left: -4px;
							}
						}
					}
				}
			}
			&__button {
				@extend %button;
			}
		}
		.empresas {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			min-height: 540px;
			padding: 90px clamp(11px, 5.5vw, 110px);
			&__h2 {
				@extend %section-title;
				max-width: 950px;
				margin-bottom: 30px;
			}
			&__button {
				padding: 12px 30px;
				margin-bottom: 30px;
				font-weight: 500;
				border-radius: 40px;
				text-transform: uppercase;
				transition: 200ms ease all;
				color: var.$black;
				border: 2px solid var.$black;
				background-color: var.$white;
				&:hover {
					background-color: var.$black;
					color: var.$white;
				}
			}
			&__content {
				display: grid;
				grid-template-columns: repeat(5, 1fr);
				grid-template-rows: repeat(2, 1fr);
				border-top: 1px solid var.$empresas-img-border;
				border-right: 1px solid var.$empresas-img-border;

				@media only screen and (max-width: 922px) {
					grid-template-columns: repeat(3, 1fr);
					grid-template-rows: repeat(3, 1fr);
				}
				@media only screen and (max-width: 514px) {
					grid-template-columns: repeat(2, 1fr);
					grid-template-rows: repeat(4, 1fr);
				}
				// grid-template-columns: repeat(
				// 	auto-fit,
				// 	minmax(min(160px, 300px), 1fr)
				// );
				// grid-template-rows: minmax(200px, 500px);
				// gap: 15px;
				&__img {
					padding: 5px;
					border-bottom: 1px solid var.$empresas-img-border;
					border-left: 1px solid var.$empresas-img-border;
					&--img {
						max-width: 100%;
					}
				}
			}
		}
	}
}

// change hero subtitle

@media only screen and (max-width: 746px) {
	body {
		.main {
			.hero {
				&__h2 {
					background-color: transparent;
					color: var.$white;
					text-transform: lowercase;
					height: auto;
					&::first-letter {
						text-transform: uppercase;
					}
				}
			}
			.canal {
				&__content {
					max-width: 100%;
					&--button {
						font-size: 95%;
					}
				}
			}
			.automatiza {
				&__content {
					max-width: 100%;
					&--button {
						font-size: 95%;
					}
				}
			}
			.telefonia {
				&__content {
					max-width: 100%;
					&--button {
						font-size: 95%;
					}
				}
			}
			.cultura {
				&__dates {
					.cultura__date {
						max-width: 100%;
					}
				}
			}
		}
	}
}
// grid transition

@media only screen and (max-width: 1360px) {
	body {
		.main {
			.soluciones {
				&__cards {
					grid-template-columns: repeat(2, minmax(260px, 350px));
				}
			}
		}
	}
}
// grid transition
@media only screen and (max-width: 676px) {
	body {
		.main {
			.soluciones {
				&__cards {
					grid-template-columns: repeat(
						auto-fill,
						minmax(270px, 350px)
					);
				}
			}
		}
	}
}
@media only screen and (max-width: 490px) {
	body {
		.main {
			.cultura {
				background-image: none;
				background-color: var.$black;
			}
		}
	}
}
