* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	&:focus-visible {
		outline: 3px solid #2097ff !important;
	}
}

body {
	max-width: 1726px;
	min-height: 100vh;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

html {
	font-size: 16px;
	scroll-behavior: smooth;
}
body::-webkit-scrollbar {
	width: 7px;
}
body::-webkit-scrollbar-thumb {
	background-color: #d12321;
	border-right: 1px solid #fff;
}
