// lato
$lato: "lato", sans-serif;
// Lobster
$Lobster: "Lobster", sans-serif;
//poppins
$poppins: "Poppins", sans-serif;
//Principal colors
$white: #fff;
$black: #080808;
$red: #d12321;
$dark-blue: #222533;
$border-menu: rgba(255, 255, 255, 0.05);
$light-red: #ff4539;
$dropdown-menu: #2e3244;

//font sizes

// 14px nav size
$nav-font-size: 14px;
