//fonts

//poppins

$poppins: "Poppins", sans-serif;

//Principal colors

$empresas-img-border: #e6e6e6;
$white: #fff;
$black: #080808;
$red: #d12321;
$dark-blue: #222533;
$border-menu: #ffffff0d;
$light-red: #ff4539;
$footer-color: #171717;
$dropdown-menu: #2e3244;

// 14px nav size
$nav-font-size: 14px;
